.page {
  height: 100vh;
  position: fixed;
  width: 100%;
  top: 0;
  transition: opacity 0.5s ease-in-out;
  /* transition: transform 0.5s ease-in-out; */
}

.page-enter {
  opacity: 0;
  /* transform: translateX(100%); */
}
.page-enter-active {
  opacity: 1;
  /* transform: translateX(100%); */
}

.page-exit-active {
  /* transform: translateX(-100%); */
  opacity: 0;
}
