/* .Palette {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.Palette-colors {
  height: 90%;
} */

/* .Palette-footer {
  background-color: white;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}

.emoji {
  font-size: 1rem;
  margin: 0 0.5rem;
} */
